* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    display: inline-block;
}

header {
    padding-top: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
}
/*--------------------------------------------------*/
/*main ul*/
header .main_ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

header .main_ul a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .main_ul li:after {
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}

header .main_ul > li:hover:after {
    width: 100%;
}

/*second_ul*/

header .main_ul .dropdown {
    position: relative;
}

header .main_ul .sub_menu {
    position: absolute;
    min-width: 188px;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    display: none;
    transition: 0.7s;
}

header .main_ul .sub_menu li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #edf6ee;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    padding: 4px 14px;
}

header .dropdown:hover .sub_menu {
    display: block;
}

/*sub_menu_2*/
.main_ul .dropdown_2 {
    position: relative;
}

.main_ul .dropdown_2:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    background-image: url("../images/right_arrow_menu.svg");
    right: 10px;
    top: -16px
}

.main_ul .sub_menu_2 {
    position: absolute;
    min-width: 178px;
    left: 178px;
    display: none;
    top: -108px;
    padding-left: 12px;
}

header .dropdown_2:hover .sub_menu_2 {
    display: block;
}

header .dropdown_2:hover:after {
transform: rotate(180deg);
}



/*--------------------------------------------------*/

header .logo {
    margin-bottom: 17px;
}

header .login {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

header .login:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/login_logo.svg");
    margin-right: 4px;
}

main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cera Pro", sans-serif;
    color: #3d3d3d;
}

main .banner .container {
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.left_container {
    max-width: 557px;
    margin-left: 40px;
}

.left_container h4 {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.left_container h1 {
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 67px;
    margin-bottom: 5px;
}

.left_container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.planet_green {
    color: #46a358;
}

.container img {
    max-width: 507px;
}

main .shop_now {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 27px;
    background: #46a358;
    border-radius: 6px;
    align-items: center;
    margin-bottom: 18px;
}

.product .container {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.product .left_side {
    max-width: 310px;
}

.product .right_side {
    max-width: 840px;
}

.product .product_sort {
    display: flex;
    justify-content: space-between;
}

.product .product_sort ul {
    display: flex;
    gap: 32px;
}

.product .product_sort ul li {
    list-style-type: none;
}

.product_sort ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.product_sort ul li:after {
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 5px;
    transition: 0.4s;
}

.product_sort li:hover:after {
    width: 100%;
}

.main_product_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_product_items article {
    max-width: 258px;
    border-top: 2px solid transparent;
    margin-bottom: 48px;
    position: relative;
}

.main_product_items article .sale {
    position: absolute;
    top: 14px;
    left: 0;
    font-family: "Cera Pro", sans-serif;
    background-color: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 7px 8px;
}

.main_product_items ul {
    position: absolute;
    display: flex;
    gap: 20px;
    list-style: none;
    bottom: 42px;
    width: 100%;
    justify-content: center;
    opacity: 0;
}

.product .right_side article:hover ul {
    opacity: 1;
}


.main_product_items ul .first_li a:after {
    content: "";
    background-image: url("../images/shopping_cart_black.svg");
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
}

.main_product_items ul .second_li a:after {
    content: "";
    background-image: url("../images/heart_black.svg");
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
}

.main_product_items ul .third_li a:after {
    content: "";
    background-image: url("../images/search_black.svg");
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
}

.main_product_items ul .first_li:hover a:after {
    background-image: url("../images/shopping_cart_green.svg");
}

.main_product_items ul .second_li:hover a:after {
    background-image: url("../images/heart_green.svg");
}

.main_product_items ul .third_li:hover a:after {
    background-image: url("../images/search_green.svg");
}

.main_product_items a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

.main_product_items span {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.product .right_side article:hover {
    border-top: 2px solid #46a358;
}

.left_side h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 14px 0 12px 18px;
}

.left_side ul {
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 350px;
}

.left_side ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
}

.left_side a:hover {
    color: #46a358;
}

.left_side {
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.product_sort {
    margin-bottom: 31px;
}

.nav_bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav_bar ul {
    display: flex;
    list-style-type: none;
}

.nav_bar ul li {
    display: flex;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.nav_bar ul li a {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.nav_bar ul li:hover {
    background: #46a358;
}

.nav_bar ul li:hover a {
    color: white;
}

.nav_bar li:last-of-type a:after {
    content: "";
    display: inline-block;
    background-image: url("../images/nav_bar_arrow.svg");
    width: 16px;
    height: 16px;
}

.nav_bar li:last-of-type:hover a:after {
    background-image: url("../images/nav_bar_white_arrow.svg");
}

.navigation_bar {
    margin-bottom: 94px;
}

.two_offers article {
    display: flex;
    justify-content: space-between;
    background: #fbfbfb;
    max-width: 586px;
    padding: 30px;
    margin-bottom: 130px;
}

.two_offers article {
    align-items: center;
    text-align: right;
}

.two_offers article h3 {
    font-family: "Cera Pro", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 16px;
}

.two_offers article p {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 16px;
}

.find_more {
    display: inline-flex;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
    padding: 11px 27px;
    background: #46a358;
    border-radius: 6px;
    align-items: center;
}

.find_more::after {
    content: "";
    background-image: url("../images/right_arrow.svg");
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.blog_post .container {
    width: 100%;
    display: block;
}

.blog_post h2 {
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog_post p {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blog_items article {
    max-width: 268px;
    background-color: #fbfbfb;
}

.blog_items article .first_row {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-top: 9px;
    margin-left: 15px;
    margin-bottom: 4px;
}

.blog_items article .second_row {
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-left: 15px;
    margin-bottom: 4px;
}

.blog_items article .third_row {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    max-width: 242px;
    margin-left: 15px;
    margin-bottom: 9px;
}

.blog_items article .fourth_row {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;
}

.fourth_row::after {
    content: "";
    align-items: center;
    background-image: url("../images/black_arrow.svg");
    background-repeat: no-repeat;
    margin-left: 4px;
    width: 16px;
    height: 16px;
}

.blog_items article .fourth_row:hover {
    color: #46a358;
}

.blog_items article .fourth_row:hover::after {
    background-image: url("../images/green_arrow.svg");
}